.navbar{
    height: 100%;
}

.navbar-brand{
    width: 50%;
}
.navbar-light .navbar-nav .nav-link{
    color:#FFFFFF;
    font-family:"Kalinga";
    font-size:20px;
    width:max-content;
    padding:14px;
    line-height: 32px;
  }
.videoind {
    width: 15%;
    margin: 30%;
}
.pad{
    padding: 10% 0% 0% 10%;
}
.inicio {
    padding: 10% 2% 10% 2%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    color: #FFFFFF;
    height: 80%;
}
.inicio-text {
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding: 0 0% 1% 0;
    opacity: 1;
    font-weight: bold;
}
.paddbot {
    position: absolute;
    text-align: center;
    background-color: #a6d0fc;
    border-color: #a6d0fc;
}
.paddbot2 {
    text-align: center;
    background-color: #a6d0fc;
    border-color: #a6d0fc;
}

.imgindex{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../imagenes/indexv.png) no-repeat top;
    background-size: cover;
  }
  .imgbgst {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../imagenes/storev.png) no-repeat top;
    background-size: cover;
}
.imgbgres{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/restv.png) no-repeat top;
    background-size: cover;
  }
  .imgbginv{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/invoicev.png) no-repeat top;
    background-size: cover;
  }
  .imgbgtae{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/taev.png) no-repeat top;
    background-size: cover;
  }
  .imgbgeco{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/ecommv.png) no-repeat top;
    background-size: cover;
  }
  .imgbgceo{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../images/ceov.png) no-repeat top;
    background-size: cover;
  }
  .bloques{
    padding: 2%;
  }
  .msgwh{
    position: fixed;
    z-index: 9999;
    height: 50px;
    line-height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
    text-align: center;
    font-size: 45px;
  }
  .padlp {
    padding: 1% 0% 2% 0%;
}
.form-servicioslp{
    /*margin-top: 15%;*/
    padding:5% 2% 10% 2%;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    color: #FFFFFF;
  }
  .text-servicioslp {
    text-align: center;
    color: #000000;
    font-size: 16px;
    padding: 0 0% 1% 0;
    opacity: 1;
    font-weight: bold;
}
.text-pform {
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    padding: 0% 0 1% 0;
}
  .form-servicioslp2{
    /*margin-top: 15%;*/
    padding:5% 2% 5% 2%;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    color: #FFFFFF;
  }
  .form-servicios2{padding:2% 2% 2% 2%;border:#5F7EA8 solid 1px;}
  .form-servicioslp {
    /* margin-top: 15%; */
    padding: 5% 2% 10% 2%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    color: #FFFFFF;
}
.text-serviciostc {
    text-align: center;
    color: #000000;
    font-size: 14px;
    padding: 0 0% 1% 0;
    opacity: 1;
    font-weight: bold;
}
.text-pform {
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    padding: 0% 0 1% 0;
}
.logolp {
    width: 80%;
}
.row{margin:0;padding:0;}
.color{
    background-color: #a6d0fc;
    border-color: #a6d0fc;
}
.lip{
    padding: 2%;
}
.lic{
    text-align: center;
    margin: 2% 15% 2% 2%;
    box-shadow: 10px 10px rgb(207, 209, 209);
    
}
div.lic {
  border-style: solid;
  border-color:#afcff1 #a4a5a5 #8cbaeb #a4a5a5;
}

.tipos{
  border-top-width: 10px;
  border-right-width: 1em;
  background-color: #b3b6b6;
  text-align: center;
  border-radius: 15px 30px;
  box-shadow: 10px 10px lightblue;
  margin: 4% 1.6%;
}
.bgjd02 {
    background: #FFFFFF;
    padding: 5% 3% 2% 2%;
    min-height: 50vh;
    margin: 2%;
}
.blb {
    border-left: solid 1px #000000;
}
.tac {
    text-align: center;
    margin: 0% 2% 10% 2%;
}
.tac2{
  height: 100%;
  margin: 2% 0% 10% 0%;
}
.titjd2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.blo{
  margin: 2% 0%;
}
input.inpse{
  width: 90%;
}
.pages {
  text-align: center;
}
ul.pagination {
  margin: 20px 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  border-radius: 0;
}
.sep{
  border-top: solid 1px #000000;
}
