

.navbar-brand{
    width: 50%;
}
.navbar-light .navbar-nav .nav-link{
    color:#FFFFFF;
    font-family:"Kalinga";
    font-size:18px;
    width:max-content;
    padding:14px;
    line-height: 32px;
  }
.videoind {
    width: 15%;
    margin: 30%;
}
.pad{
    padding: 10% 0% 0% 10%;
}
.inicio {
    padding: 10% 2% 10% 2%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    color: #FFFFFF;
    height: 80%;
}
.inicio-text {
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding: 0 0% 1% 0;
    opacity: 1;
    font-weight: bold;
}
.paddbot {
    position: absolute;
    text-align: center;
    background-color: #a6d0fc;
    border-color: #a6d0fc;
}
.paddbot2 {
    text-align: center;
    background-color: #a6d0fc;
    border-color: #a6d0fc;
}

.imgindex{
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(../imagenes/indexv.png) no-repeat top;
    background-size: cover;
  }
  .bloques{
    padding: 2%;
  }
  .msgwh{
    position: fixed;
    z-index: 9999;
    height: 50px;
    line-height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
    text-align: center;
    font-size: 45px;
  }